{% load menu_tags %}
{% load static %}

{% for child in children %}
<li class="child{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}<img class="iconStart" src="{% static "images/etoilecharlote.png" %}" alt="icon start"></a>
	{% if child.children %}
  {% if child.selected or child.ancestor %}
	<ul>
		{% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
	</ul>
  {% endif %}
	{% endif %}
</li>
{% endfor %}
